# Bird API Configuration
BIRD_API_KEY=your_bird_api_key_here
BIRD_WHATSAPP_NUMBER=+201100414204

# Server Configuration
PORT=3001
NODE_ENV=production

# Bird API Endpoints
BIRD_WORKSPACE_ID=2d7a1e03-25e4-401e-bf1e-0ace545673d7
BIRD_CHANNEL_ID=8e046034-bca7-5124-89d0-1a64c1cbe819

# Template Configuration
INVOICE_TEMPLATE_PROJECT_ID=3c476178-73f1-4eb3-b3a8-e885575fd3be
INVOICE_TEMPLATE_VERSION_ID=6abf0d77-c3cc-448e-a7c2-6b60f272235e

# Webhook Configuration
WEBHOOK_SECRET=your_webhook_secret_here
